@model DoUongOnline.Models.ChangePassword
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        margin-top: 50px;
    }

    .btn-TTMK {
        border: none !important;
        border-radius: 5px;
        background-color: #fb8d17;
        color: white;
        height: 40px;
        width: 150px
    }

    .formthaydoimk {
        width: 40%;
        height: 400px;
        display: flex;
        box-shadow: 2px 2px 5px 2px #888888;
        margin: 150px 0px 150px 420px;
    }

    .tieude {
        width: 30%;
        background-color: #fb8d17;
        color: white;
        text-align: center;
    }

    .formmk {
        width: 70%;
        margin: auto;
        margin-left: 50px;
    }

    .inputtext {
        width: 60%;
    }
</style>


<div class="formthaydoimk">
    <div class="tieude">
        <h2 style="margin-top:70px"> Thay <br><br> đổi <br><br> mật <br><br> khẩu</h2>
    </div>
    <hr />
    <div class="formmk">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { })
                    <div class="inputtext">
                        @Html.PasswordFor(model => model.OldPassword, new { @style = "width : 400px" })

                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { })
                    <div class="">
                        @Html.PasswordFor(model => model.NewPassword, new { @style = "width : 400px" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { })
                    <div class="">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @style = "width : 400px" })
                        <div>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input style="width: 150px; " type="submit" value="Lưu mật khẩu" class="btn-TTMK" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


